.ocContainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.ocSec {
    height: 100%;
    padding: 4rem 5rem;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 15px;
    margin: 4rem 0;
}

.heading {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
}

.cardcontainer {
    margin-top: 6rem;
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    gap: 3rem;
    flex-wrap: nowrap;
}

.card {
    margin: 3rem 0 1rem 0;
    padding: 2rem;
    padding-bottom: 2rem;
    width: 25rem;
    min-height: 30rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #fff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
    z-index: 10;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    border: 2px solid #9b83eb;
}

.cardImage {
    width: 10rem;
    height: 10rem;
    border: 3px solid #9b83eb;
    border-radius: 50%;
    margin: 2rem auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cardName {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    transition: color 0.3s ease-in-out;
}

.cardCourse {
    font-size: 1.5rem;
    text-align: center;
    color: #9b83eb;
    transition: color 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0px 0px 15px 2px rgba(0, 255, 117, 0.3), 0px 0px 20px 5px rgba(0, 255, 117, 0.2);
    transform: translateY(-5px);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8));
    border: 2px solid #00ff75;
    border-radius: 2rem; 
}

.card:hover .cardImage {
    transform: scale(1.05);
    box-shadow: 0 0 8px 3px rgba(0, 255, 117, 0.2);
}

.card:hover .cardName,
.card:hover .cardCourse {
    color: #00ff75;
}

.linkedinLink {
    font-size: 2rem;
    color: #0077b5;
    text-decoration: none;
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.linkedinLink:hover {
    color: #006097;
}

.cardcontainer::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@media screen and (max-width: 768px) {
    .cardcontainer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 22rem;
        margin: 1.5rem;
        padding: 2.5rem;
    }

    .heading {
        font-size: 3.5rem;
    }

    .cardImage {
        width: 9rem;
        height: 9rem;
    }

    .cardName {
        font-size: 1.8rem;
    }

    .cardCourse {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 480px) {
    .cardcontainer {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin: 1.5rem 0;
        padding: 2rem;
    }

    .heading {
        font-size: 3rem;
    }

    .cardImage {
        width: 9rem;
        height: 9rem;
    }

    .cardName {
        font-size: 1.6rem;
    }

    .cardCourse {
        font-size: 1.4rem;
    }
}
